

#msgContainer {
    position: relative;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 21px 0px rgba(53, 52, 58, 0.14);
  
  width: 522px;
  height: 665px;
  border-radius: 5px 5px 0 0;
 margin: 20px;   

}

#msgHeader {
 
  background-color: rgb(64, 128, 255);
   border-radius: 5px 5px 0 0;  
  width: 522px;
  height: 54px;
     font-family: 'Roboto', sans-serif;
    
    color: white;
    font-size: 1.5em;
 padding-left: 16px;
    padding-top: 10px;


}

#msgFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    padding: 0 16px;
    
}

.reply{

   position: absolute;
    margin-top: 10px;
    
    bottom: 130px;
   
    overflow-y: scroll;
    overflow-x: none;
    width: 100%;
    height: 72%;
    float: right;
    padding-top:70px;
    
}


.replyWrap p{
    position: relative;
    display: inline-block;
  max-width: 50%;
    max-height: 100%;
  background-color: rgb(64, 128, 255);
  border-radius: 20px;
  text-align: right;
    padding: 12px 16px;
    color: white;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
 
}

}
#msgBody{
    
}


.ifMesssage {
    position: absolute;
  background-color: rgb(241, 240, 240);
  width: 199px;
  height: 47px;
    border-radius: 50px;
    outline: none;
    border: none;
    margin: 16px;
    padding: 0px 20px;
     font-family: 'Roboto', sans-serif;
    
    
  
}

}

.replyWrap {
    
}
.reply:hover{
    
}
.mBtn{
    background: none;
    outline: none;
    border: none;
}
.mBtn:hover {
    color: red;
}
#inputDiv{
    
    position: absolute;
    bottom: 70px;
    padding-left: 16px;
    padding-bottom: 5px;
    
   
}
#inputDiv button{
    background: none;
    border: none;
    outline: none;
    padding-top:10px;
  
}
.row{
    padding:0px;
    margin: 0px;
}
.row .fa-ban{
    
    color:red;
    margin-right: 10px;
}
.row .fa-edit{
    color: #4080ff;
}




.replyWrap .row a{
    margin-top:10px;
}


.inputReply {
  
    width: 390px;;
    height: 45px;
    background-color: none;
    outline: none;
    border: none;
    margin-left: 10px;
      font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    
}
.sep{
    position: absolute;
    bottom: 130px;
    width: 100%;
    height: 2px;
    background-color: f1f0f0;
}

.ifDiv {
    position: relative;
    background-color: red;
    width: 100%;
    z-index: 8;
}
